.container {
	width: 500px;
	height: 400px;
	display: inline-block;
	position: absolute;
	padding: 50px 0;;
	top: calc(50% - 200px);
    left: calc(50% - 250px);
}

.container a {
	float: right;
}

#update {
	color: #6c757d;
}

#delete {
	color: coral;
}
