<!DOCTYPE html>
<html xmlns:th="http://www.thy,eleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Atualização de Cartorio</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="../static/default.css" th:href="@{/default.css}" rel="stylesheet">
		<link href="../static/header.css" th:href="@{/header.css}" rel="stylesheet">
		<link href="../static/form.css" th:href="@{/form.css}" rel="stylesheet">
	</head>
	<body>
	
		<header>
			<div class="card">
  				<div class="card-body">
    				<h2>Atualizar Dados</h2>
  				</div>
			</div>
		</header>
			
		<div class="container">
		
			<form th:object="${cartorio}" action="/atualiza" method="post">
				
				<div class="form-group">
				    <label for="id">Id</label>
				    <input type="text" class="form-control" id="id" th:field="*{id}" readOnly="readonly" >
  				</div>
  				
  				<div class="form-group">
				    <label for="inputNome">Nome do Cartorio</label>
				    <input type="text" class="form-control" id="inputNome" th:field="*{nome}" >
  				</div>
						
				<button type="submit" class="btn btn-secondary" >Atualizar</button>	
			</form>
		
		</div>
	</body>
</html>