<!DOCTYPE html>
<html xmlns:th="http://www.thy,eleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Página Principal</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="../static/default.css" th:href="@{/default.css}" rel="stylesheet">
		<link href="../static/index.css" th:href="@{/index.css}" rel="stylesheet">		
		<link href="../static/header.css" th:href="@{/header.css}" rel="stylesheet">
	</head>
	<body>
	
		<header>			
			<div class="card">
  				<div class="card-body">
    				<h2>Página Principal</h2>
  				</div>
			</div>
		</header>
	
		<div class="container">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nome do Cartorio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cartorio : ${cartorios}">
						<td th:text="${cartorio.id}"></td>
						<td th:text="${cartorio.nome}"></td>					
						<td> <a class="btn btn-link" th:href="@{/atualizar/{id}(id=${cartorio.id})}" >Editar</a> </td>
						<td> <a class="btn btn-link" id="delete" th:href="@{/deletar/{id}(id=${cartorio.id})}" >Excluir</a> </td>	
					</tr>
				</tbody>
			</table>
			<a class="btn btn-secondary" href="/cartorio/novo">Novo Cartorio</a>
		</div>
	</body>
</html>